.side-cart-container {
    position: relative;

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000a8;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0s linear 0.3s;
    cursor: pointer;
}

.backdrop.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease, visibility 0s linear 0s;
}


.sidecart {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 390px;
    background-color: #F7F7F7;
    z-index: 100000;
    transform: translateX(110%);
    transition: transform 0.3s ease;
    transition: all ease 0.5s;
}

.sidecart.open {
    transform: translateX(0);
}

.cart-header span {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    color: #000;
    border-right: 1px solid #ecebeb;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    line-height: 47px;
}

.cart-title {
    text-align: center;
    font-weight: 500;
    line-height: 43px;
    height: 45px;
    color: #000;
    border-bottom: 1px solid #ecebeb;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 20px;
}

.cart-count {
    font-weight: 600;
    display: block;
    min-width: 45px;
    height: 45px;
    text-align: center;
    line-height: 46px;
    color: #000;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #ecebeb;
    border-top: transparent;
    border-right: transparent;
    cursor: none;
}

.prod {
    position: relative;
    height: calc(100vh - 162px);
    max-height: 100%;
    overflow: auto;
}

.product-cart {
    overflow: hidden;
    position: relative;
    text-align: left;
}
.prod::-webkit-scrollbar {
    width: 5px;
    color: #000;
}

.prod::-webkit-scrollbar-thumb {
    background-color: #575757;
    border-radius: 4px;
}



.product-cart ol li{
    border-bottom: 1px solid #e1e1e1;
    align-items: flex-start;
    position: relative;
    padding: 20px 0;
    min-height: 0;
}

.product-cart ol {
    padding: 0;
}

.img-product-cart {
    width: 25%;
    margin-right: 10px;
}

.product-name-mini {
    line-height: 16px;
}

.product-name-mini a {
    font-size: 16px;
    text-align: justify;
    color: #000;
    text-decoration: none;
    font-weight: 400px
}

.product-name-mini a:hover {
    color: #51adcd;
}

.product-remove { 
    width: 15%;
}

.product-remove a {
    position: absolute;
    top: 19px;
    right: 0;
    color: #000;
    text-decoration: none;
    padding-right: 15px;
}

.sub-total-container {
    position: relative;
    width: 380px;
    max-width: 100%;
}

.sub-total {
    height: 59px;
    line-height: 59px;
    background-color: #fff;
    color: #000;
    padding: 0 15px;
    overflow: hidden;
    bottom: 59px;
    width: 400px;
    max-width: 100%;
    display: flex;
    justify-content: space-between; 
}

.total-title {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    max-width: 50%;
}

.total-price {
    width: auto;
    font-weight: 600;
    color: #51adcd;
    max-width: 50%;
}

.cart-actions {
    bottom: 0;
    width: 400px;
    max-width: 100%;
    position: relative;
}

.button-viewcart {
    width: 50%;
    display: block;
    float: left;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
    height: 59px;
    line-height: 61px;
    color: #fff;
    background-color: #2a2a2a;
    transition: all ease 0.3s;
    text-decoration: none;
}

.button-checkout {
    width: 50%;
    display: block;
    float: left;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
    height: 59px;
    line-height: 61px;
    color: #fff;
    background-color: #000;
    transition: all ease 0.5s;
    text-decoration: none;
}

.button-viewcart:hover {
    background-color: #51adcd;
    color: #fff;
    text-decoration: none;
}

.button-checkout:hover {
    background-color: #51adcd;
    color: #fff;
    text-decoration: none;
}

.side-cart-bottom {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 576px) {
    .sidecart {
        width: 300px;
    }

    .cart-actions {
        width: 300px;
    }

    .sub-total {
        width: 300px;
    }
}

@media screen and (max-width: 364px) {
    .sidecart {
        width: 250px;
    }

    .cart-actions {
        width: 250px;
    }

    .sub-total {
        width: 250px;
    }

}