body {
font-family: 'Jost', sans-serif;
}

.aboutus-start {
    background-image: url(Images/mick-haupt-joHasPcobwg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 400px;
    color: aliceblue;
    font-size: 20px;
}

#aboutus-start h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 46px;
}

#aboutus-start p a {
    color: white;
    border-bottom: none;
}
#aboutus-start p a:hover {
    color: #51adcd;
    border-bottom: none;
    text-decoration: none;
}
#aboutus-start p {
    text-align: center;
    color: white;
    font-weight: bold;

}
.aboutus-top {
    margin-top: 100px;
}

#aboutus-section .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.aboutus-top h1 {
    font-weight: 600;

}

.aboutus-top p {
    margin-top: 30px;
    font-size: 16px;
    margin-bottom: 30px;
}
.aboutus-top a {
    color: #51adcd;
    border-bottom: 2px solid #51adcd;
}
.aboutus-top a:hover {
    color: #51adcd;
    text-decoration: none;
}
.aboutus-video {
    position: relative;
}
.aboutus-video img {
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 50px;
    transition: all 0.3s ease;
    margin-bottom: 60px;
    overflow: hidden;
}

.aboutus-video img:hover {
    filter: brightness(50%);
}

.aboutus-video i {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50px;
    line-height: 60px;
    transition: all .5s ease;
    color: black;
    text-align: center;

}

.aboutus-video i:hover {
    color: #51adcd;
}




#aboutus-team  .container {
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#aboutus-team .team-title p {
    margin-bottom: 40px;
}


#aboutus-team .team-box {
    flex: 0 0 auto;
    margin-right: 20px;
    scroll-snap-align: start; 
}
.team-box {
    display: flex;
    flex-direction: column;
    width: 300px;
   margin: 0px 26px;
   position: relative;
   overflow: hidden;
}

#aboutus-team .team-img img {
    max-width: 100%; 
    height: auto;
    transition: all .5s ease;
}

#aboutus-team .team-img img:hover {
    transform: scale(1.05);
    filter: grayscale(100%);
}

#aboutus-team .team-slide::-webkit-scrollbar {
    display: none;

}
#aboutus-team .team-slider-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }
  

#aboutus-team .team-text h2{
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    
}

#aboutus-story .container {
    margin-top: 100px;
    overflow: hidden;
}

#aboutus-story .story-title h1{
    margin-top: 70px;
    font-size: 38px;
}
#aboutus-story .story-title p {
    font-size: 15px;
    margin-bottom: 50px;
}

#aboutus-story .banner-1 img{
    height: 790px;
    margin-bottom: 30px;
}

#aboutus-story .banner-2-3 img {
    height: 380px;
    margin-bottom: 30px;
}

#aboutus-story img {
    transition: all .5s ease;
}

#aboutus-story img:hover {
    transform: scale(1.05);
    filter: grayscale(100%);

}

#aboutus-info {
    margin-top: 140px;
    margin-bottom: 40px;
}

#aboutus-info .store-title h5 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 34px;
}
#aboutus-info .store-detail p {
    margin-bottom: 15px;
    font-size: 15px;
}

.hidden {
    opacity: 0;
    filter: blur(2px);
    transition: all 1s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


