body {
    font-family: 'Jost', sans-serif;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}



.container-homepage {
    max-width: 1440px;
}

/* motivation */

.motivation-product .motivation-line {
    background-color: #51adcd;
    margin-bottom: 50px;
    border: none;
}

.motivation-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.motivation-product .motivation-title {
    position: relative;
    padding-bottom: 15px;
  }
  
  .motivation-title::after {
    content: "";
    display: block;
    width: 90px; 
    border-bottom: 2px solid #51adcd;
    position: absolute;
    bottom: 0;
    left: 50%; /* Change from 47% to 50% */
    transform: translateX(-50%); /* Add this line */
}

/* slick slider style */

.slick-dots {
    position: absolute;
    bottom: 0;
    left: 65%;
    transform: translate(-65%, 80px);
    display: flex !important;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 4px;
}

.slick-dots button {
    font-size: 0;
    width: 13px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #83868c;
    background-color: #adadad00;
    cursor: pointer;
}

.slick-dots .slick-active button {
    background-color: #83868c;
}

/*it's your choice */

.container-choiceproduct {
    max-width: 1440px;
}

.your-choice-product .your-choice-line {
    width: 90px;
    height: 1px;
    background-color: #51adcd;
    margin-bottom: 20px;
}
.your-choice-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.your-choice-product .product-slider-heading {
    position: relative;
    padding-bottom: 15px;
  }
  
  .product-slider-heading::after {
    content: "";
    display: block;
    width: 90px; 
    border-bottom: 2px solid #51adcd;
    position: absolute;
    bottom: 0;
    left: 47%; 
}


.new-arrivals {
    border: none;
    cursor: pointer;
    height: 42px;
    min-width: 120px;
    font-size: 13px;
    font-weight: 500px;
    color: #fff;
    background: #51adcd;
    margin-bottom: 50px;
    margin-top: 20px;
}



/* product */

.product-row {
    margin: 0px 0px 0px 0px;
}

.product {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.img-product {
    position: relative;
}

 .product-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: calc(33.33% - 20px);
    margin: 0 0 20px 0;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.label-sale,
.product-icon {
    position: absolute;
}

.p-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.p-img a, .p-img {
    width: 100%;
    height: 100%;
    display: flex;
}

.p-img a img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.label-sale {
    position: absolute;
    top: 5px;
    right: -35px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 12px;
    transform: rotate(45deg);
    width: 110px;
    text-align: center;
}

.product-icon {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    bottom: 0; 
    left: 8%; 
    transform: translatey(50%);
    visibility: hidden;
    opacity: 0;
    margin: 0 auto;
    transition: opacity 0.5s, transform 0.5s;
}

.product-box:hover .product-icon {
    visibility: visible;
    opacity: 1;
    transform: translate(2%, 0%);
}

.product-icon li {
    margin-bottom: 2%;
}



.product-box:hover .product-icon,
.product-box:not(:hover) .product-icon {
    transition-delay: 0.1s;
}

.product-icon li a {
    width: 46px;
    height: 46px;
    box-shadow: 0 15px 25px #00000014;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    margin-bottom: 13px;
    transition: .3s;
    color: #000;
    background: #fff;
    text-align:center;
    line-height:46px;
}

.product-icon li a:hover {
    color: white;
    background: #51adcd;
}

.product-icon li button {
    width: 46px;
    height: 46px;
    box-shadow: 0 15px 25px #00000014;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    margin-bottom: 13px;
    transition: .3s;
    color: #000;
    background: #fff;
    text-align:center;
    line-height:46px;
    border: none;
    outline: none;
}

.product-icon li button:hover {
    color: white;
    background: #51adcd;
    border: none;
    outline: none;
}

.product-icon {
    padding-left: 10%;
    min-width: 70%; 
}

.product-title a {
    color: black;
    font-size: 16px;
    font-weight: inherit;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.product-title {
    text-align: center;
}

.product-title a:hover {
    color: #51adcd;
}

.product-price s {
    color: gray;
    font-weight: 700;
    font-size: 15px;
}
.product-price span {
    color: #51adcd;
    font-weight: 700;
    font-size: 15px;
}

.product-price {
    text-align: center;
}



/* brand logo */

.brand-logo {
    background: #f4f4f4;
    padding: 50px 0px;
    
}

.brand-logo img {
    transition: all 0.3s ease;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.brand-logo img:hover {
    opacity: 0.5;
}

.brand-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brand-box .logo {
    margin-right: 20px;
}


/* banner-sport */
.banner-items  {
 position: relative;
 transition: all .5s linear;
}

.box-img {
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
}
.banner-items:hover img {
    transform: scale(1.04);
    transition: all 0.8s linear;
}

.banner-box {
    position: relative;
}

.banner-items:hover .banner-content {
    opacity: 1;
    transition: all 0.5s linear;
    left: 50px;
    top: 30%;
}

.banner-items .banner-content {
    position: absolute;
    z-index: 2;
    transition: all .5s linear;
    left: 50px;
    top: 30%;
    opacity: 0;
}

.banner-content h3 {
    font-size: 40px;
    font-weight: 600;
}
.banner-items:hover::after {
    content: "";
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    background-color: rgba(255, 255, 255, .85);
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

.banner-items::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: visible;
    transition: all .5s linear;
    z-index: 1;
    
}

/* run banner */

.banner-run-box {
    position: relative;
    transition: all .5s linear;
}

.run-img {
    overflow: hidden;
    position: relative;
}

.run-button {
    background: black;
    position: relative;
}
.run-button h1{
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 1.75em;
    font-family: Jost;
    text-transform: unset;
    font-weight: 400;
    padding-bottom: 10px;
}

.run-button a {
    display: inline-block;
    position: absolute;
    width: 173px;
    height: 44px;
    background-color: #fff;
    top: -250%;
   left: 43%;
    text-align: center;
   padding-top: 15px;
   color: black;
   text-decoration: none;
   transition: all 0.3s ease;
   font-size: 1rem; 
   font-family: Jost;
   font-weight: 500;
   letter-spacing: 2px;
   line-height: 1;
}

.run-button a:hover {
    background-color: #2786b6;
    color: #fff;
}

.run-img:hover img {
    transform: scale(1.04);
    transition: transform 0.8s linear, filter 0.8s linear;
    transition-delay: 0.2s;
}

.run-img img {
    transform: scale(1);
    transition: transform 0.8s linear, filter 0.8s linear;
    transition-delay: 0.2s; 
}

/*blog section */

.blog-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    text-align: center;
    margin-bottom: 80px;
}
.blog-section .blog-title {
    position: relative;
    padding-bottom: 15px;
  }

.blog-section .homepage-blog-img img {
    transition: all 0.3s ease;
}

.blog-section .homepage-blog-img img:hover {
    opacity: 0.7;
}

.blog-section .homepage-blog-content .blog-cate  {
    color: #83868c;
    text-decoration: none;
}
.blog-section .homepage-blog-content .blog-cate:hover {
    color: #51adcd;
}

.blog-section .homepage-blog-content .homepage-blog-title{
    color: #000000;
    text-decoration: none;
    transition: all 0.2s ease;
}
.blog-section .homepage-blog-content .homepage-blog-title:hover {
    color: #51adcd;
}



.blog-section .homepage-blog-content .blog-short {
    color: #83868c;
    font-size: 16px;

}

.blog-date {
    position: absolute;
    background-color: #fff;
    top: 35px;
    left: 50px;
    width: 68px;
    height: 68px;
    text-align: center;
    padding: 10px 0;
}

.blog-date hr {
    margin: 0 auto;
    width: 28px;
    background: #000;
}

.blog-date .day {
    font-size: 14px;
    color: #000;
    font-weight: 600;

}

.blog-date .month {
    font-size: 10px;
    display: block;
    padding-top: 4px;
    letter-spacing: 3px;
    font-weight: 600;
}
/* banner run */

.popup-trigger .overview-overlay {
    position: fixed;
    top: 0px;
    left: 0px; 
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);  
    z-index: 100;
   display: none;
}
.popup-trigger .popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 800px;
    height: auto;
    z-index: 10000;
    padding: 20px;
}
.popup-trigger .popup-close {
    position: absolute;
    right: -20px;
    font-size: 25px;
    top: -10px;
    color: white;
    cursor: pointer;
}

.popup-trigger .popup-close:hover {
    color: #51adcd;
}

.popup-trigger.active .overview-overlay {
    display: block;
}

.popup-trigger.active .popup-content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.size-header {
    display: flex;
    margin-bottom: 15px;
}

.size-content {
    display: flex;
    flex-wrap: wrap;
}

.size-header .header {
    font-family: Jost;
    color: #000;
    margin: 0 27px 0 0;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 30px;
    font-weight: 600;
    border-bottom: 2px solid #000000;
    min-width: 65px;
    height: 35px;
}

.size-header .variant-other:hover, .size-header .variant-other:focus, .variant-other {
    border: 1px solid #000 !important;
    opacity: 1;
    cursor: pointer;
}

.size-header .variant-other {
    width: 60px;
    display: inline-block;
    min-width: unset !important;
    height: unset !important;
    line-height: unset;
    padding: 10px 15px;
    border: 1px solid #ccc !important;
    color: #000;
    margin: 0 10px 10px 0 !important;
    text-align: center;
    transition: all .3s ease;
    font-size: 14px;
    font-weight: 600;
    opacity: .2;
}

.size-header input[type="radio"] {
    display: none;
}

.size-header input[type="radio"]:checked + label.variant-other {
    border: 1px solid #000 !important;
    opacity: 1;
}




.color-header {
    display: flex;
}

.color-header .link-color {
    display: inline-block;
    height: 20px !important;
    min-width: 20px !important;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
    transition: all .3s ease;
    position: relative;
    margin-top: 20px;
}

.color-header .link-color:after {
    content: "";
    border: 1px solid #b0b0b0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease;
}

.color-header .link-color:hover:after {
    content: "";
    border: 1px solid #b0b0b0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.color-header input:checked + .link-color::after {
    opacity: 1;
}



.color-header input[type="radio"] {
    display: none;
}

.color-header label {
    cursor: pointer;
}

.color-header .header {
    font-family: Jost;
    color: #000;
    margin: 0 27px 0 0;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 30px;
    font-weight: 600;
    border-bottom: 2px solid #000000;
    min-width: 65px;
    height: 35px;
}

.popup-detail .product-info {
    font-family: Jost;
    font-size: 16px;
    margin-bottom: 25px;
    padding-top: 23px;
}

.popup-detail .product-name {
    font-family: Jost;
    font-size: 22px;
    font-weight: 600;
    color: #010101;
    margin-bottom: 12px;
    line-height: 32px;
}
.popup-detail .product-name h2 {
    font-size: 25px;
    line-height: 20px;
    text-transform: capitalize;
    font-weight: 400;
    font-weight: 500;
}

.product-action {
    display: flex;
    margin-top: 15px;
}

.product-quantity .quantity-all {
    display: inline-block;
    width: 90px;
    border: 2px solid #ddd;
    margin-right: 25px;
    position: relative;
    max-width: 100px;
    min-width: 60px;
    overflow: visible;
}

.product-quantity .qty-minus {
    right: -3px;
    bottom: -5px;
    height: 50%;
    width: 42px;
    border-top: 1px solid #ddd;
    cursor: pointer;
    padding-bottom: 10px;

}

.product-quantity .qty-minus i {
    padding: 0px 20px 10px 15px;
    transition: all .3s ease;
}

.product-quantity .qty-minus i:hover {
    color: #51adcd;
}

.product-quantity .qty-plus i {
    padding: 0px 20px 5px 15px;
    transition: all .3s ease;
}

.product-quantity .qty-plus i:hover {
    color: #51adcd;
}

.product-quantity .qty-minus, .product-quantity .qty-plus {
    position: absolute;
    transition: .3s;
    color: #000;
    padding: 0;
    width: unset;
    border: 0;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-quantity .quantity-all input[type=text] {
    width: 45px;
    border: none;
    padding: 12px 0;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-weight: 600;
    border-right: 1px solid #ddd;
    border-radius: 0;
}
.product-quantity .qty-plus {
    right: -2px;
    top: 7px;
    width: 42px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.btn-addtocart {
    font-family: Jost;
    transition: all .3s ease;
    width: 200px;
    height: 55px;
    font-size: 14px;
    background: #51adcd;
    letter-spacing: .2em;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    transition: .3s;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all ease 0.5s;
}

.btn-addtocart:hover {
    background-color: black;
}



.info-footer .newsletter-email {
    width: 250px;
    max-width: 100%;
    margin-top: 20px;
}

.info-footer .newsletter-email form {
    position: relative;
    display: flex;
}

.info-footer .newsletter-email .form-email {
    width: 100%;
    position: relative;
    margin: 0;
}

.info-footer .newsletter-email .form-email .form-control {
    padding: 0 25px;
    line-height: 40px;
    height: 40px;
    width: 100%;
    border-radius: unset;
    background: white;
    border: none;
    outline: none !important;
    margin-bottom: 30px;
}


.info-footer .newsletter-email .form-email .form-control:focus {

    box-shadow: none;
}


.info-footer .newsletter-email .footer-btn {
    width: 45px;
    height: 40px;
    background: black;
    color: white;
    border: none;
    transition: all .3s ease;
    cursor: pointer;
}

.info-footer .newsletter-email .footer-btn:hover {
    background: #51adcd;
}

.info-footer .social-footer .social  {
    color: black;
    letter-spacing: 10px;
    border: none;
    text-decoration: none;
}
.info-footer .social-footer .social :hover {
    border: none;
    color: #51adcd;
    outline: none;
}

.footer-info .header-detail-footer h4{
    color: #000000;
    font-size: 18px;
    font-weight: 600;

}

.footer-info .header-detail-footer hr {
    background: #000;
    margin: 0; 
    border: none; 
    border-top: 1px solid #000; 
    width: 30px; 
    margin-bottom: 40px;
    margin-top: 20px;
}

.footer-info .footer-detail-content li a,.footer-info .footer-detail-content li {
    list-style: none;
    color: black;
    transition: all .3s ease;
    text-decoration: none;
    font-weight: 400;
    line-height: 32px;
    font-size: 14px;
}

.footer-info .footer-detail-content li a:hover {
    color: #51adcd;
}

.top-footer .footer-border {
    padding: 50px 0 40px 30px;
    border-left: 1px solid #dddddd6e;
}


.top-footer {
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}

.info-footer {
    padding: 50px 0 40px;
}

.info-footer .logo-name h1, .info-footer .logo-name a{
    letter-spacing: 10px;
    font-weight: 800;
    color: #000;
    text-decoration: none;
}


.copyright {
    padding: 26px 0;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}


#backtop {
    width: 52px;
    height: 52px;
    background-color: none;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    background: black;
    z-index: 10000;
  }
  #backtop:hover {
    background-color: #fff;
    transition: 0.2s ease-in-out;
  }
  #backtop i {
    color: #fff;
    z-index: 100000;
  } 
  #backtop:hover i {
    color: #000;
  }



@media screen and (max-width: 1024px) {
    .product-box:hover .product-icon {
        visibility: hidden;
        opacity: 1;
        transform: translateY(0);
    }

    .run-button a {
        visibility: hidden;
    }



    .banner-items::after {
         background-color: rgba(255, 255, 255, .85);
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
    }
    
    .banner-items .banner-content {
        opacity: 1;
    }
}

@media screen and (max-width: 1166px) {
    .banner-content h3 {
        font-size: 20px;
        font-weight: 600;
    }
}


@media screen and (max-width: 767px) {
    .slick-dots {
        transform: translate(-50%, 0);
    }
    .banner-content h3 {
        font-size: 60px;
        font-weight: 600;
    }

}

@media screen and (max-width: 555px) {
    .banner-content h3 {
        font-size: 43px;
        font-weight: 600;
    }
}


@media screen and (max-width: 430px) {
    .banner-content h3 {
        font-size: 30px;
        font-weight: 600;
    }
}

@media screen and (max-width: 335px) {
    .banner-content h3 {
        font-size: 20px;
        font-weight: 600;
    }
}

@media (max-width: 768px) {
    .product-box {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .product-box {
        width: 100%;
    }
}