.contact-img {
    background-image: url(Images/Contact-Shoes.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 400px;
    color: aliceblue;
    font-size: 20px;
}



.contact-container {
    max-width: 1300px;
}

.contact-us-header h2 {
    font-family: "Barlow", sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 35px;
    margin-bottom: 20px;
}

.contact-detail p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-info .customer-support i{
    display: flex;
}

.contact-info .customer-support i p{
    font-family: "Barlow", sans-serif;
    display: flex;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-info .customer-support i p:hover{
    color: black;
}

.contact-list a {
    margin-bottom: 5px  ;
    display: inline-block;
    color: black;
}

.contact-list p {
    cursor: pointer;
}

.contact-info p:hover {
    color: #0056b3;
}

.contact-info .store-header i{
    display: flex;
}
.contact-info .store-header i p{
    font-family: "Barlow", sans-serif;
    display: flex;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    }

.contact-info .store-header i p:hover {
    color: black;
}

.store-list a {
    color: black;
    display: inline-block;
    margin-bottom: 5px;
}

.contact-email-style input, .contact-email-style textarea {
    width: 100%;
    border: 1px solid #262f39;
    background: transparent;
    color: var(--tg-common-color-white);
    padding: 15px 25px;
    border-bottom-right-radius: 30px 30px;
}

.contact-email-relative {
    position: relative;
}

.submit-btn {
    border-radius: 10px;
    font-size: 14px;
    background: #51adcd;
    padding: 15px 25px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all ease 0.3s;
    margin-top: 20px;
    cursor: pointer;
}


.error {
    border: 2px solid #ffb900;
    border: 1px solid red;
}

.error-message {
    color: #dc3232;
    font-size: 1em;
    font-weight: normal;
    margin-top: 5px;
    display: block;
}

.error-messages {
    margin-top: 10px;
    padding: 2px 10px;
    font-size: 16px;
    color: #dc3232;
    font-weight: 500;
}


