
.product-container::-webkit-scrollbar {
    width: 10px;
}


.product-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}


.product-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px; 
}


.product-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.product-container {
    height: 400px; 
    overflow-y: auto; 
}

.progress-container ul{
    padding: 0;
    margin: 0;
    padding-top: 15px;
    z-index: 9999;
    width: 100%;
    margin-top: -40px;
}
.progress-container {
    position: relative;
    width: 100%;
    margin: auto;
    height: 100px;
    margin-top: 30px;
}

.progress-container li{
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.progress-container li::after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: #D9D9D9;
    margin: auto;
    border: solid 7px white;
    border-radius: 50%;
    margin-top: 20px;
    z-index: 100000;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
}

.progress-container .line {
    width: 80%;
    margin: auto;
    background: #000;
    height: 2px;
    position: absolute;
    left: 10%;
    top: 60px;
    z-index: -1;
}

.progress-container .line-process {
    content: "";
    width: 0%;
    height: 100%;
    background: deepskyblue;
    background: linear-gradient(to right, deepskyblue 0%, #2ea3b7 100%);
}

.select-country {
    position: relative;
}

.select-country label {
    position: absolute;
    top: 20%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 13px;
    color: #0000008F;
    padding: 0 5px;
    pointer-events: none;
}

.select-country select {
    padding: 19px 30px 6px 5px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #CCC;
    background: #FFF;
    margin-bottom: 20px;
}
.name-container {
    position: relative;
    margin-bottom: 20px;
    display: inline-flex;
    width: 100%;
}

.name-container input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #CCC;
    background: #FFF;
    height: 45px;
    padding-left: 10px;
}


.address {
    position: relative;
}

.address input, .phone-number input, .email input  {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #CCC;
    background: #FFF;
    height: 45px;
    padding-left: 10px;
}

.apartment {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.apartment #apartmentName{
    display: none;
}

.apartment #addApartmentBtn.remove {
    display: none;
}

.apartment input{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #CCC;
    background: #FFF;
    height: 50px;
    padding-left: 10px;
}

.apartment button {
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(38, 125, 120, 0.56);
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.apartment button:focus {
    outline: none;
}

.apartment #apartmentName.add {
    display: block;
}

.location {
    position: relative;
    margin-bottom: 20px;
    display: inline-flex;
    width: 100%;
}

.location input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #CCC;
    background: #FFF;
    height: 45px;
    padding-left: 10px;
}


.save-info {
    position: relative;
    margin-bottom: 20px;
}

.save-info input {
    margin-top: 13px;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
    accent-color: black;
}


.save-info input,
.save-info label {
    vertical-align: bottom;
}

.email {
    position: relative;
    margin-bottom: 20px;
}

.phone-number {
    position: relative;
    margin-bottom: 10px;
}

.continue {
    margin-bottom: 20px;
}

.continue button {
    width: 30%;
    height: 35px;
    background: #000;
    color: #FFF;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}
.continue input {
    width: 30%;
    height: 35px;
    background: #000;
    color: #FFF;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}


.have-account{
    text-align: right;
    margin-bottom: 20px;
}

.order-summary .top-order {
    color: #000;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
}

.content-order, .total  {
    display: flex;
    justify-content: space-between;
}

.summary-content .content-order .detail {
    color: #CCC;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.summary-content .content-order .price-order {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.total {
    margin-top: 20px;
    color: #000;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}

.order-summary {
    border-bottom: 2px solid #000;
}
 {
    position: relative;
    height: 370px;
    max-height: 100%;
    overflow: auto;
    margin-top: 30px;
}

.product-order {
    overflow: hidden;
    position: relative;
    text-align: left;
}

.product-order ol li {
    align-items: flex-start;
    position: relative;
}

.img-product-order {
    width: 25%;
}

.mini-name {
    line-height: 16px;
}

.mini-name a {
    font-size: 13px;
    color: #000;
}

.mini-name a:hover {
    color: #51adcd;
    text-decoration: none;
}

.quantity-container {
    display: flex;
}

.minus {
    width: 20px;
    height: 20px;
    background: #D9D9D9;
    text-align: center;
    font-size: 30px;
    line-height: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.num {
    line-height: 17px;
}

.plus {
    width: 20px;
    height: 20px;
    background: #D9D9D9;
    text-align: center;
    font-size: 20px;
    line-height: 15px;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.price-update {
    line-height: 15px;
    color: #000;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 5px;
}

.remove-product-order {
    width: 15%;
}

.remove-product-order a {
    position: absolute;
    top: 19px;
    right: 0;
    color: #000;
    text-decoration: none;
    padding-right: 15px;
}

.remove-product-order a:hover {
    color: #000;
}
