.container-details-page {
    max-width: 1440px!important;
}

.container-details-page .content-page-details {
    padding-bottom: 68px;
}

.featured-icon {
    padding-bottom: 60px;
}

.relative {
    position: relative;
}

.img-thumb {
    position: relative;
    display: block;
}

.slick-list {
    position: relative;
    display: block;
}

.slick-slider {
    position: relative!important;
    display: block!important;
}

.list-smaller {
    margin: 0 -5px;
}

.prod-sub-details {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
    border-radius: 3px;
    margin-top: 10px!important;
}

.sub-slider .slick-list .slick-track {
    width: 656px!important;
}

.prod-sub-details {
    cursor: pointer;
}

.selected-sub-img {
    border: 1px solid #51adcd;
    margin: -1px;
}

.content-page-details .detail-info {
    padding-left: 60px;
}


.content-page-details .detail-info .product-titles {
    font-family: Jost;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
    padding-right: 40px;
}

.content-page-details .detail-info .product-prices {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.content-page-details .detail-info .product-prices .product-price-compare {
    font-size: 16px;
    font-weight: 500;
    color: #83868c;
    margin: 0 10px 0 0;
}

.content-page-details .detail-info .product-prices .price_main {
    font-size: 18px;
    font-weight: 500;
    color: #51adcd;
    text-decoration: none;
}

.content-page-details .detail-info .wrap-rating {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 24px;
}
.content-page-details .detail-info .wrap-rating .star-rating-container {
    min-height: auto;
    min-width: auto;
    display: block;
}
.content-page-details .detail-info .wrap-rating .star-rating-container .start-rating-box{
    margin: 0 3px 0 0;
}

.wrap-rating .star-rating-container .start-rating-box .fa-star {
    color: #f2b03d;
    font-size: 12px !important;
    padding-right: 2px;
}

.wrap-rating .star-rating-container .start-rating-caption {
    padding: 0 5px;
    color: #999;
    font-size: 12px !important;
}

.content-page-details .detail-info .pd_summary {
    font-family: Jost;
    font-size: 15px;
    color: #969696;
    line-height: 1.6;
    font-weight: 400;
    padding: 22px 0 0;
}

.content-page-details .detail-info .list_ul_full {
    border: 1px solid #ebebeb;
    padding: 28px 17px;
    margin-bottom: 20px;
    position: relative;
    margin-top: 30px;
}

.content-page-details .detail-info .list_ul_full .title-list {
    color: #51adcd;
    font-size: 18px;
    margin: 0;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    left: 49px;
    top: -11px;
    padding: 0 14px;
    background-color: #fff;
}

.content-page-details .detail-info .list_ul_full ul li{
    color: #51adcd;
    list-style: none;
    padding-left: 15px;
    position: relative;
    text-align: left;
    line-height: 28px;
    text-transform: capitalize;
}

.count-down .text {
        margin-top: 20px;
    font-size: 15px;
    color: #f55;
    font-weight: 600;
    letter-spacing: .1em;
    background: url(/Frontend/Shoes/IMAGES/fire.svg) top left no-repeat;
    padding-left: 35px;
    background-size: 25px;
    padding-bottom: 15px;
}

.count-down .progress .progress-bar {
    background-color: #de3618;
    transition: .5s;
}
.count-down .progress {
    border-radius: 0;
    height: 10px;
}

.size-guide {
    margin: 30px 0 20px;
}

.size-guide .extra-link {
    display: flex;
}

.size-guide .extra-link a {
    margin-right: 20px;
    font-weight: bold;
    color: #000;
}

.size-guide .extra-link a:hover {
    color: #51adcd;
    text-decoration: none;
}

.content-page-details .detail-info .btn-addtocart {
    width: 350px;
}

.content-page-details .detail-info .btn-payment .btn-addtocart{
    margin-top: 25px;
    margin-bottom: 25px;
    transition: all .3s ease;
    width: 306px !important;
    max-width: 100%;
    border-radius: 0 !important;
    height: 45px!important;
    font-size: 14px !important;
    background: #000!important;
    letter-spacing: .2em;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600 !important;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
}

.content-page-details .detail-info .btn-payment .btn-addtocart:hover {
    background: #51adcd!important;
}

.product-meta-info {
    padding-left: 0;
    margin-top: 40px;
}

.product-meta-info li{
    list-style: none;
}
.product-meta-info .product-categoryinfo {
    margin-top: 70px;
}
.product-meta-info .product-categoryinfo a{
    color: #000;
}

.product-meta-info .product-categoryinfo a:hover {
    color: #51adcd;
    text-decoration: none;
}

.featured-icon .block-top-link {
    display: flex;
    margin: 0 -15px;
}

.featured-icon .block-top-link .textwidget {
    flex: 1;
    padding: 0 15px;
}

.featured-icon .block-top-link .textwidget .icon-featured {
    text-align: center;
    border: 1px solid #e1e1e1;
    height: 100%;
    padding: 20px 20px 25px;
}

.featured-icon .block-top-link .textwidget .icon-featured .icon{
    color: #51adcd;
    font-size: 24px;
    margin-bottom: 20px;
}

.featured-icon .block-top-link .textwidget .icon-featured .icon svg{
    width: 35px;
    height: 35px;
    fill: #51adcd;
}

.featured-icon .block-top-link .textwidget .icon-featured .content .title{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    margin: 0;
    font-family: Jost;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
}

.tab-pd-details {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 30px;
}

.tab-pd-details .bd-tab {
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
}

.tab-pd-details .bd-tab .tab-prod {
    border-bottom: none;
    padding: 25px 0;
    display: flex;
    justify-content: center;
}

.tab-pd-details .tab-prod li {
    margin-right: 35px;
}

.tab-pd-details .tab-prod li a {
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;
    color: #969696;
    transition: .3s;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.tab-pd-details .tab-prod li a:hover {
    text-decoration: none;
}

.underliine_scale {
    position: relative;
    display: inline-block;
}

.tab-pd-details .tab-prod li a.active {
    color: #000;
}

.underline_scale.active:after, .underline_scale:hover:after {
    transform: scale(1);
}

.underline_scale:after {
    border-bottom: 2px solid #51adcd;
    bottom: 0;
    left: 0;
    content: "";
    position: absolute;
    transform: scale(0);
    transition: all .3s linear 0s;
    width: 100%;
}

.tab-content>.active {
    display: block;
}

.tab-pd-details .product-desc {
    padding-top: 40px;
}

.tab-pd-details .product-desc p {
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #a8a8a8;
}

.tab-pd-details .tab-addition {
    padding-top: 30px;
    text-align: left;
}

.tab-pd-details .tab-addition .title_content .more_info {
    font-family: Jost;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #979797;
    margin-bottom: 5px;
}

.tab-pd-details .tab-addition .title_content h3 {
    font-family: Jost;
    font-size: 25px;
    font-weight: 500;
    color: #000;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
    display: inline-block;
}

.tab-pd-details .tab-addition .content1 .info_1 {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    color: #979797;
    padding: 10px 0;
}

.tab-content ul {
    padding: 0;
    list-style: none;
}

.tab-pd-details .tab-addition .content2 .info2 h3 {
    font-size: 18px;
    font-family: Jost;
    font-weight: 500;
    color: #000;
}

.tab-pd-details .tab-addition .content2 .info2 ul li {
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;
    color: #979797;
    padding: 4px 0;
}

.tab-pd-details .tab-addition .content2 .info2 ul li a {
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;
    color: #979797;
    padding: 4px 0;
}



.fade {
    transition: all .3s linear 0s;
}

#product-review {
    display: block;
    clear: both;
    overflow: hidden;
    margin: 1em 0;
}

#product-review .pr-container {
    text-align: left;
}

.tab-content h2 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    position: relative;
    padding-bottom: 10px;
    margin: 10px 0 20px;
}

.pr-header-title {
    font-size: 14px !important;
}

.pr-summary {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: left;
}

.pr-summary-actions {
    float: right;
}

.pr-summary-actions a {
    text-decoration: none;
    color: #7a7a7a;
}

.pr-summary-actions a:hover {
    color: #51adcd;
    text-decoration: none;
}


.pr-form-contact, .pr-form-review, .pr-form-actions, .pr-form-image {
    padding: 0;
    border: 0;
    margin: 0;
}
.pr-form-contact-name, .pr-form-contact-email, .pr-form-contact-location, .pr-form-review-rating, .pr-form-review-title, .pr-form-review-body, .pr-img-area {
    margin: 0 0 15px 0;
}

.pr-form-image {
    text-align: center;
    margin-bottom: 100px;
}

.pr-img-area {
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 500px;
    margin: 0 auto 30px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pr-img-area i {
    margin-top: 150px;
    font-size: 100px;
}

.pr-img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}

.pr-img-area p {
	color: #999;
}

.pr-img-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.pr-img-area::before {
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
    z-index: 2;
}

.pr-img-area.active:hover::before {
    opacity: 1;
}

.pr-select-image {
    color: #fff;
    background: #000;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 600;
    transition: all .5s ease;
    width: auto;
}

.pr-select-image:hover {
    background: #51adcd;
}

.pr-form-label {
    cursor: pointer;
    font-size: 13px;
    line-height: 20px;
}

.pr-form-input-name, .pr-form-input-title, .pr-form-input-email, .pr-form-input-body  {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    border: 1px solid #e4e4e4;
    color: #000;
    height: 45px;
    padding-left: 15px;
}

.pr-form-input-name:focus, .pr-form-input-email:focus, .pr-form-input-title:focus, .pr-form-input-body:focus {
    outline: none;
}




.pr-form-input-star .fa-regular.fa-star, .pr-form-input-star  .fa-solid.fa-star{
    color: #000;
}

.pr-form-input-body textarea {
    resize: vertical;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.pr-form-actions .pr-button {
    color: #fff;
    background: #000;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 600;
    transition: all .5s ease;
    float: right;
    width: auto;
}

.pr-form-actions .pr-button:hover {
    background: #51adcd;
}

.pr-reviews {
    margin: 24px 0 0 0;
}

.pr-review {
    margin-top: 24px;
    padding: 24px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.pr-review-header-title {
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    border: none;
}

.pr-review-header-created {
    font-style: italic;
    font-size: 13px;
    display: inline-block;
    margin: 0 0 1em 0;
}

.pr-review-content-body {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.pr-review-footer {
    margin-bottom: 15px;
    margin-top: 15px;
}
.pr-review-footer .pr-report-button {
    text-decoration: underline;
    float: right;
    font-size: 11px;
    line-height: 16px;
    color: #000;
}

.pr-review-footer .pr-report-button:hover {
    color: #51adcd;
    text-decoration: none;
}

.pr-form {
    display: none;
  }

  .openForm {
    display: block;
  }