
.verify-h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.reset-otp-form input[type=number] {
    height: 85px;
    width: 82px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 35px;
    justify-content: center;
    align-items: center;
}

.reset-otp-form {
    height: 55%!important;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.reset-otp-form .input-field {
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.reset-otp-form input::-webkit-inner-spin-button,
.reset-otp-form input::-webkit-outer-spin-button {
    display: none;
}

.reset-otp-form a {
    font-size: 15px;
}

.reset-otp-form a:hover {
    text-decoration: underline;
}

.NewPasswordContainer {
    display: flex;
}

.reset-otp-form input[type=password] {
    max-width: 300px;
    width: 100%;
    height: 45px; /* Adjust height as needed */
    margin-top: 20px;
    text-align: center;
}

.reset-otp-form .input-field .otp-left {
    margin-left: 100px;

}

.reset-password {
    margin-left: 33px!important;
}