.verify-h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.reset-otp-form input {
    height: 85px;
    width: 82px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 35px;
}

.reset-otp-form {
    height: 55%!important;
}

.reset-otp-form .input-field {
    flex-direction: row;
    column-gap: 10px;
}

.reset-otp-form input::-webkit-inner-spin-button,
.reset-otp-form input::-webkit-outer-spin-button {
    display: none;
}

.reset-otp-form a {
    font-size: 15px;
}

.reset-otp-form a:hover {
    text-decoration: underline;
}