.progress-container .line-process {
    content: "";
    width: 75%;
    height: 100%;
    background: deepskyblue;
    background: linear-gradient(to right, deepskyblue 0%, #2ea3b7 100%);
}

.edit-delivery a {
    display: inline-block;
    color: #000;
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 600;
}

.edit-shipping a {
    display: inline-block;
    color: #000;
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 600;
}

.edit-billing a {
    display: inline-block;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.edit-delivery a:hover, .edit-shipping a:hover, .edit-billing a:hover {
    color: #000;
    text-decoration: none;
}