.viewcart-header {
    background: #f6f6f6;
}

.content-header {
    padding: 10px 0;
}

.content-header a {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.content-header a:hover{
    text-decoration: none;
    color: #51adcd;
}

.content-header a i {
    padding: 0 10px;
    color: #000;
}

.content-header strong {
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;
    color: #51adcd;
}

.page-cart {
    padding: 50px 0;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.cart-table {
    border: 1px solid #dee2e6;
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.cart-table .cart-title th {
    border-bottom: 0;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #000;
    font-family: Jost;
    padding: 5px 20px;
    border-left: 1px solid #dee2e6;
    vertical-align: bottom;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.cart-table .cart-title .product-thumbnail {
    text-align: left;
}

.cart-table .cart-title .product-price, .cart-table .cart-title .product-quantity, 
.cart-table .cart-title .product-subtotal, .cart-table .cart-title .product-removes {
    text-align: center;
 }
 .cart-table .cart-item .product-name-thumb, .cart-table .cart-item .product-prices, .cart-table .cart-item .product-subtotal {
    font-family: Jost;
    font-size: 14px;
    color: #a8a8a8;
    line-height: 1.6;
    font-weight: 400;
}

.cart-table .cart-item .product-prices, .cart-table .cart-item .product-quantity, .cart-table .cart-item .product-subtotal, .cart-table .cart-item .product-removes {
    text-align: center;
} 

.table > tbody > tr > td {
    vertical-align: middle;
}

.cart-table .cart-item .product-thumbnail {
    width: 140px;
 }

 .cart-item .product-thumbnail a{
    color: #000;
 }

 .cart-item .product-thumbnail a img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
 }

 .cart-item .product-name-thumb a {
    color: #000;
 }

 .cart-item .product-removes a {
    color: #000;
 }

 .cart-item .product-quantity .js-qty {
    display: inline-block;
    width: 90px;
    border: 2px solid #ddd;
    margin-right: 15px;
    position: relative;
    max-width: 100px;
    min-width: 60px;
 }

 .cart-item .product-quantity .js-qty .minus {
    right: 0;
    bottom: 0;
    height: 50%;
    width: 42px;
    border-top: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    transition: all ease 0.3s;
 }

 .cart-item .product-quantity .js-qty .minus, .cart-item .product-quantity .js-qty .plus {
    position: absolute;
    transition: .3s;
    color: #000;
    padding: 0;
    border: 0;
    font-weight: 600;
    font-size: 14px;
    display: block;
 }

 .js-qty input {
    width: 44px;
    border: none;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
    color: #232529;
    font-weight: 600;
    border-right: 1px solid #ddd;
    border-radius: 0;
    display: block;
 }

 .js-qty input:focus-visible {
    border: none;
    outline: none;
    text-decoration: none;
    border-right: 1px solid #ddd;
}

.cart-item .product-quantity .js-qty .plus {
    right: 0;
    top: 0;
    height: 50%;
    width: 42px;
    left: unset;
    border-bottom: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    transition: all ease 0.3s;
}

.cart-item .product-quantity .js-qty .plus:focus,  .cart-item .product-quantity .js-qty .minus:focus {
    border: none;
    outline: none;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

.cart-item .product-quantity .js-qty .plus:hover,  .cart-item .product-quantity .js-qty .minus:hover {
    color: #51adcd;
}  

.cart-item .product-removes a:hover {
    color: #51adcd;
}

.cart-totals .continue-shopping {
    margin: 20px 0 20px 10px;
    display: inline-block;
}

.cart-totals .continue-shopping a{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 18px 65px;
    border: none;
    background: #51adcd;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    letter-spacing: .2em;
    font-weight: 500;
    position: relative;
    border-radius: 0;
    transition: .3s;
}

.cart-totals .continue-shopping a:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
}

.cart-totals .cart-checkout {
    border: 1px solid #e3e3e3;
    padding: 40px 20px;
    overflow: hidden;
    margin: 30px 0 ;
}



.cart-totals .cart-checkout .cart-titles {
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
    color: #000;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: Jost;
    padding: 17px 20px 17px 0;
}
.cart-totals .total-checkout {
    border-top: 1px solid #e3e3e3;
    width: 100%;
}

.cart-totals .total-checkout .cart-label {
    font-family: Jost;
    padding: 17px 0;
    font-size: 16px;
    line-height: 30px;
    color: #000;
    font-weight: 400;
}

.cart-totals .total-checkout .cart-amount {
    font-family: Jost;
    padding: 17px 0;
    font-size: 16px;
    line-height: 30px;
    color: #000;
}

.cart-totals .proceed-to-checkout a {
    margin-top: 15px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 18px 65px;
    border: none;
    background-color: #51adcd;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    letter-spacing: .2em;
    font-weight: 500;
    position: relative;
    border-radius: 0;
    transition: .3s;
}

.cart-totals .proceed-to-checkout a:hover {
    background: #000;
    text-decoration: none;
    
}

@media screen and (max-width: 767.98px) {
    .page-cart .content-pages {
        padding-top: 20px;
    }

    .page-cart .content-pages table td {
        border-top: none;
    }

    .page-cart .content-pages .content-cart-page .table-responsive .cart-table {
        border: 1px solid #dcdcdc;
    }

    .page-cart .content-pages .content-cart-page .table-responsive .cart-table tr {
        float: left;
        clear: both;
        width: 100%;
        border: 1px solid #dcdcdc;
    }

    .page-cart .content-pages .content-cart-page .table-responsive .cart-table td {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
    }

    .page-cart .content-pages .content-cart-page .table-responsive .cart-table td:before {
        content: attr(data-label);
        float: left;
        text-align: center;
        font-size: 12px;
        padding-right: 10px;
        display: flex;
        width: 60%;
    }

    .page-cart .content-pages .content-cart-page .table-responsive .cart-table .product-thumbnail {
        width: 100%;
    }

    .page-cart .content-pages .content-cart-page .table-responsive .cart-table .product-thumbnail a img {
        float: right;
        width: 30%;
    }

    .page-cart .content-pages .content-cart-page .table-responsive .cart-table .product-name-thumb {
        display: block;
        float: left;
        width: 100%;
    }

    .page-cart .content-pages .content-cart-page .table-responsive .cart-table thead {
        display: none;
    }

    .page-cart .content-pages .content-cart-page .table-responsive .cart-table th {
        display: none;
    }
}